.container
      nav 
         a(href="#") ပင်မစာမျက်နှာ
         - const news = [{name:"ပြည်တွင်း",rname:"homeaffair-radio"},{name:"မန်းသတင်း",rname:"mdy-radio"},{name:"ဆောင်းပါး",rname:"article-radio"},{name:"နိုင်ငံတကာ",rname:"inter-radio"},{name:"အခြား",rname:"other-radio"}]
         ul 
            each item,i in news 
               if i != 4
                  li 
                     input(type="radio" id=`${item.rname}` class="nav-radio-group" name="navradio")
                     a(href="#")
                        label(for=`${item.rname}`)= item.name
               else 
                  li 
                     input(type="radio" id=`${item.rname}` class="nav-radio-group" name="navradio")
                     label(for="nav-dropdown-check")= item.name
                        i.fas.fa-sort-down.nav-sort-down
                     input(type="checkbox" id="nav-dropdown-check" class="nav-dropdown-check" onclick="changeSortDown(this)")
                     ul.nav-dropdown
                        for navitem in innerItems 
                           li
                              a(href="#")= navitem

.update-news.container 
      button Latest News 
      p
         marquee.
            #{samplePara}
      form 
         input(type="search" id="searchPost")
         button(type="submit")
            i.fas.fa-search